html {
    background-color: lightgray;
    font-family: 'Rubik';
}
.comment-enclosure {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 3px solid red;
}

.vote-enclosure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem; 
    border: 3px solid orange;
    text-align: center;
    background-color: hsl(228, 33%, 97%);
    border-radius: .5rem;
    height: 4rem;
}

button {
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

.pic-name-text-enclosure {
    border: 3px solid gray;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.avatar {
    display: flex;
    margin: 1rem;
}

.time-posted {
    margin: 1rem;
    color: lightgray;
}

.name {
    border: 2px solid green;
    margin: 1rem;
    font-size: 1.5rem;
}

.comment {
    display: block;
    border: 3px solid blue;
}


.replyBtn {
    display: flex;
    align-items: center;
    margin: .5rem;
    font-size: 1rem;
    background-color: white;
    padding: .25rem;
    margin-left: 23rem;
    color: darkblue
}

.reply-icon {
    padding: .25rem;
}